{% extends 'base.html.twig' %}

{% block title %}Supprimer une catégorie{% endblock %}

{% block body %}
    <div class="container">
        <h1>Supprimer la catégorie <i>{{ categorie.titre }}</i></h1>
        {{ form(formulaire) }}
        {# je vais mettre le bouton retour #}
        <a href="{{ path("app_categories") }}" class="btn btn-primary">Retour</a>
    </div>
{% endblock %}