{% extends 'base.html.twig' %}

{% block title %}Ajouter un propriétaire{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter un propriétaire</h1>
        {{ form(formulaire) }}
    </div>
{% endblock %}